<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <servlet>
    <servlet-name>GwtTutorialService</servlet-name>
    <servlet-class>com.dodson.troy.gwtTutorial.server.GwtTutorialServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GwtTutorialService</servlet-name>
    <url-pattern>/GwtTutorial/GwtTutorialService</url-pattern>
  </servlet-mapping>
</web-app>
